;


* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#practise {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container>div {
    width: 90%;
    margin: 2rem 0 !important;
}


.Nav {
    width: 97% !important;
    position: sticky !important;

}

.css-1vz2rsl {
    width: 100%;
    

}

#goFullScreen {
    position: relative;
    float: right;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    border: solid 0.1px grey;
    border-radius: 10px;
}

.line {
    width: 100%;
}

#simulateButton {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: solid 1px gray;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#simulateButton:hover {
    background-color: rgb(0, 0, 156);
    color: aliceblue;
}

.heading {
    font-weight: 800;
    font-size: xx-large;
}

#goTop {

    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
    background-color: #003441;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: xx-large;
    font-weight: 1000;
transition: 0.2s;

}

#goTop:hover{
    scale:1.1;
}

.lightBold{
    font-weight: 600;
}

#team{
    padding: 1rem;
}

#references{
    padding: 1rem;
}