* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
  }
  ::selection {
    color: rgb(11, 0, 48);
    background: rgb(0, 247, 255);}
  body {
    background-color: rgba(238, 234, 234, 0.603);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }   
  header {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(0, 52, 65);
    text-align: center;
  }
  header .logo {
    height: 4rem;
    width: 4.2rem;
    border-radius: 50%;
    margin-left: 1%;
    margin-right: 1%;
  }
  header > h1 {
    font-size: 1.5rem;
    color: white;
  }
  header .navigation {
    display: flex;
    flex-direction: row;
  }
  header .navigation{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  header .navigation li {
    font-size: 20px;
    list-style: none;
    margin-left: 20px;
    padding: 13px 20px;
  }
  header .navigation li:hover{
    background: rgba(0, 139, 139, 0.74);
    cursor: pointer;
    border-radius: 6px;
  }
  header .navigation li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
  }

  @media screen and (max-width: 768px) {
    header > h1 {
        font-size: 0.8rem;
    }
    header .navigation li  {
        font-size: 10px;
    }    
    header .logo {
        height: 20px;
        width: 20px;
    }
  }