
nav {
    font-size: 1rem;
    border-radius: 10px;
    height: auto;
    background: rgb(0, 30, 37);
    margin: 50px 20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    font-weight: bold;
    color: honeydew;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }
  nav .boxq {
    transition: 0.4s ease;
    height: 100px;
    width: 115px;
    text-align: center;
    margin: 1rem;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  nav .boxq:hover {
    background: rgba(0, 255, 255, 0.589);
    color: white;
  }
  nav .boxq a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
    transform: translateY(4px);
  }
  nav .boxq a img {
    margin-bottom: -10px;
  }
  .exp-heading {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .icon {
    border-radius: 50%;
    height: 45px;
    width: 45px;
  }
  @media screen and (max-width:768px) {
    nav {
        font-size: 0.6rem;
    }
    nav .boxq {
        height: 50px;
        width: 75px;
    }
    .icon {
        height: 22.5px;
        width: 22.5px;    
    }
    .exp-heading {
        margin-top: 40px;
        font-size: 0.7rem;
    }
    
  }