#bit-count{
    width:100%;
    border-radius: 15px;
    border-color: black;
    justify-content: center;
    height:100px;
}
<<<<<<< HEAD


=======
>>>>>>> 3b82b718bd7f0b71fc4f5957f05283d16f1bf258
.bit{
    width: 50px;
    height: 50px;
    background-color: rgb(5, 95, 95);
    color: aliceblue;
}
.inputText{
    height: 50px;
    padding:0 10px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    
    
}
input[value="Go"]:hover{
    background-color: rgb(46, 46, 114);
    color: aliceblue;
    font-size: 1rem;
}
.nobr{
    white-space: nowrap;
}

<<<<<<< HEAD
#simulation-box{
    margin-bottom: 100px;
}

/* .control-container{
=======
.control-container{
>>>>>>> 3b82b718bd7f0b71fc4f5957f05283d16f1bf258
    width:40%;
    float: right;
    background-color: rgb(201, 198, 198);
    padding: 2rem;
    border-radius: 1rem;
    border: solid 2px gray;
}
.simulation-area{
<<<<<<< HEAD
=======
    /* float: left; */
>>>>>>> 3b82b718bd7f0b71fc4f5957f05283d16f1bf258
    width: 100%;
    margin-bottom: 80px;
}

.main-area{
    margin:50px;
}
.simulation{
<<<<<<< HEAD
=======
    height: 50vh;
    /* width: 55%; */
    
>>>>>>> 3b82b718bd7f0b71fc4f5957f05283d16f1bf258
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD

.line{
    width: 100%;
} */

=======
/* 
 */
.line{
    width: 100%;
}
>>>>>>> 3b82b718bd7f0b71fc4f5957f05283d16f1bf258
